// Transitions for navigation.
// This is NOT a module nor should it be one, since modular styles don't work
// with CSSTransition's dynamic class names.

.fade-enter {
  height: 0;
  line-height: 0;
  opacity: 0;
  width: 0;

  &-done {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
}

.fade-exit {
  opacity: 1;

  &-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }

  &-done {
    display: none;
  }
}