:global body {
  background: lightsteelblue;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global .route-transition {
  &-enter {
    opacity: 0;

    &-done {
      opacity: 1;
      transition-property: background-color, opacity;
      transition-duration: 300ms;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition-property: background-color, opacity;
      transition-duration: 300ms;
    }
  }
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  position: absolute;
  width: 100%;
}