:global body {
  background: lightsteelblue;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global .routeTransition {
  &-enter {
    height: 0;
    line-height: 0;
    opacity: 0;
    width: 0;

    &-done {
      opacity: 1;
      transition-property: background-color, opacity;
      transition-duration: 500ms;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition-property: background-color, opacity;
      transition-duration: 500ms;
    }
  }
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  position: absolute;
  width: 100%;
}